<section id="about-us" class="section">
    <div class="container welcome-container">
        <div class="welcome-tablet-container">
            <div class="welcome-heading-container">
                <p class="welcome-first-p">Welcome</p>
                <h2 class="welcome-heading">Our Journey: Passion for Quality Coffee</h2>
            </div>
            <div class="welcome-txt-btn-container">
                <p class="welcome-second-p">At CoffeeJoy, we believe that every cup tells a story. Our mission is to
                    bring you the finest coffee
                    experiences, crafted with care and dedication. We are committed to sourcing high-quality beans
                    and
                    roasting them to perfection, ensuring each sip is a delight.</p>
                <div class="welcome-btn-box">
                    <a href="#location" class="welcome-btn">
                        <span class="welcome-span">Find location</span>
                        <svg class="welcom-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-geo2"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <img loading=" lazy" srcset="/img/img2.jpg 1x, /img/img2@2x.jpg 2x" src="/img/img2.jpg"
            alt="Man pours cofee into a cup" width="288" class="welcom-img">
    </div>
</section>