body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  background-color: #E1B995;
  color: #242424;
}

.section {
  padding: 64px 0;
}

footer {
  background-color: var(--color-coffee);
}