.hero-section {
  padding: 108px 32px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/img1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 311px 176px 311px 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-section {
    padding: 259px 816px 259px 64px;
  }
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/img/img1@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/img/img1.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/img1@2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/img/img1.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/img1@2x.jpg);
    }
  }
}

.hero-container {
  position: relative;
  z-index: 2;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-container {
    padding: 0;
  }
}

.hero-title {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-family: 'Aboreto', sans-serif;
  color: #ffffff;
  margin-bottom: 24px;
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    font-size: 56px;
  }
}

.hero-paragraf {
  color: #fff;
  margin-bottom: 32px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border-radius: 100px;
  padding-block: 10px;
  padding-inline: 24px;
  width: 135px;
  height: 44px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;
}
.hero-btn:hover {
  color: #23201c;
  background: #d3b89c;
}
