/* Global styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


/* Sections style */
@import url('./header.css');
@import url("./mobile_menu.css");
@import url("./hero.css");
@import url("./welcome.css");
@import url("./quality.css");
@import url("./expirience.css");
@import url("./subscribe.css");
@import url("./location.css");
@import url("./modal_menu.css");

@import url('./footer.css');
